<div class="container">
<h1>Welcome to News Feed!</h1>
   <%= link_to "New post", new_post_path, class:"btn btn-secondary" %><br>
      <% @posts.each do |post| %> <br>
          <strong>Title: </strong><%= post.title %> <br>
          <p>posted by <%= link_to post.user.name, user_path(post.user) %></p>
          <p><%= pluralize(post.views, "view") %></p>
          <strong>Body: </strong><%= post.body %> <br>
          <%= link_to 'View this post', post %>
          <%= link_to 'Edit post', edit_post_path(post) %><br>
      <% end %>
</div>
  